.textBox {
    width: 300px;
    border-radius: 60px 60px;
    padding: 20px 40px !important;
    top: calc(50% + 30px);
    left: calc(50% - 11px);
}

.textBox.specialized{
    top: calc(50% + 25px);
}

.textBox .title{
    font-size: 2rem;
}

.treatments{
    display: flex;
    justify-content: space-around;
}

.time{
    display: inline-block;
    padding-bottom: var(--eighthUnit);
    border-bottom: 1px solid var(--color1);
    font-size: 1.2rem;
    margin-bottom: var(--eighthUnit);
}


.rightBar{
    position: fixed;
    background: var(--color3);
    right: -1px;
    width: 22px;
    height: 100px;
    z-index: 5;
    border-radius: 0 20px 20px 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    display: flex;
    justify-content: center;
    padding-left: 1px;
    font-size: 0.9rem;
}
.rightBar a{
    color: var(--color2);
}
.rightBar.one{
    top: 25%;
}
.rightBar.two{
    top: 50%;
    height: 87px;
}