.contactBar {
    width: var(--screenWidth);
    background: var(--color2);
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    font-weight: bold;
    height: var(--contactBarHeight);
}

.contactBar *{
    color: var(--color1);
}

.navigation {
    width: var(--screenWidth);
    padding: 0 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--navHeight);
    transition: background 0.5s ease;

}

.navigation.bg{
    background: var(--color1);
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 40px;
    border-radius: 40px;
    cursor: pointer;
    transition: background 0.5s ease;
    margin-left: -5px;
}

.logoContainer.bg{
    background: rgba(0,0,0,0.5);
}
.logoContainer.show{
    background: rgba(0,0,0,0.5);
}

.navigation img {
    width: 100px;
}

.navContainer {
    display: flex;
    align-items: center;
}

.book {
    background: linear-gradient(45deg, var(--color4), var(--color3));
    width: fit-content;
    height: 40px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 0.9rem;
    font-weight: bold;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
    color: var(--color1);
}
.book:hover{
    transform: scale(1.02) translateY(-5%);
    box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.3);
}

body.menu-open {
    overflow: hidden;
}

#hamToggle {
    display: none;
}

.hamIcon {
    width: 36px;
    height: 35px;
    position: relative;
    cursor: pointer;
    z-index: 5;
    display: inline-block;
    border-radius: 5px;
    transition: background 0.5s ease;
}
.hamIcon.bg{
    background: rgba(0,0,0,0.5);
}
.hamIcon.checked{
    background: rgba(0,0,0,0.5);
}

.hamIcon .hamLine {
    width: 80%;
    height: 3px;
    background-color: var(--color1);
    position: absolute;
    left: 3.5px;
    border: none;
    z-index: 5;
    transition: transform 0.42s ease, top 0.42s ease 0.42s, opacity 0.42s ease 0.42s;
}

.hamIcon .hamLine:nth-child(1) {
    top: 5px;
}

.hamIcon .hamLine:nth-child(2) {
    top: 16px;
}

.hamIcon .hamLine:nth-child(3) {
    top: 27px;
}

.checked .hamLine {
    transition: transform 0.42s ease 0.42s, top 0.42s ease, opacity 0.42s ease;
}  /* It has to be '.checked .hamline' and not '.hamIcon .hamLine' */

.checked .hamLine:nth-child(1) {
    transform: rotate(45deg);
    top: 16px;
}

.checked .hamLine:nth-child(2) {
    opacity: 0;
}

.checked .hamLine:nth-child(3) {
    transform: rotate(-45deg);
    top: 16px;
}


.hamburger{
    position: fixed;
    bottom: 0;
    left: 0;
    width: var(--screenWidth);
    height: calc(var(--screenHeight) - 90px);
    border-top: 1px solid var(--color3);
    background: var(--color1);
    overflow-y: auto;
    z-index: 10;

    transform: translateY(110%);
    transition: transform 1.3s ease;

    border-radius: 25px 25px 0 0;
}

.hamburger.show{
    transform: translateY(0);
    bottom: 0;
}

.hamItem{
    height: 60px;
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid var(--color3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color2);
}

.hamText{
    color: var(--color2);
}

.plusButton{
    background: var(--color3);
    border-radius: 20%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding-bottom: 1px;
    cursor: pointer;
    position: relative;

    opacity: 1;
    transition: opacity 0.5s ease;
}

.plusButton.clicked{
    opacity: 0.5;
}

.plusLine{
    position: absolute;
    top: 14px;
    width: 60%;
    height: 2px;
    background-color: var(--color2);
}

.rotated{
    transform: rotate(90deg);
}

.rotate{
    transition: transform 0.42s ease;
}

.moreMenu{
    max-height: 150px;
    transition: max-height 0.5s ease;
    overflow: hidden;
}

.moreMenu.hidden{
    max-height: 0;
}

.moreMenu a{
    height: 50px;
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid var(--color3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 0.85rem;
}

.hamBg {
    background: var(--color1);
}