@keyframes shrinkRight {
    0% {
        width: 100%;
    }

    5% {
        width: 100%;
    }

    50% {
        width: 0%;
    }

    100% {
        width: 0%;
    }
}

body {
    background: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.textBox {
    position: relative;
}
.textBox img{
    width: calc(var(--widthUnit) * 3)
}

.concealer {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: var(--color2);
    animation: shrinkRight 10s linear;
}

@media (max-width: 1250px) {
    .textBox img{
        width: calc(var(--widthUnit) * 4);
    }
}

@media (max-width: 1050px) {
    .textBox img{
        width: calc(var(--widthUnit) * 5);
    }
}

@media (max-width: 850px) {
    .textBox img{
        width: calc(var(--widthUnit) * 6);
    }
}

@media (max-width: 650px) {
    .textBox img{
        width: calc(var(--widthUnit) * 7);
    }
}

@media (max-width: 450px) {
    .textBox img{
        width: calc(var(--widthUnit) * 8);
    }
}