:root {
    --color1: #FFFFF0;
    /* Ivory - mainText, hamBg, footerBg, hamIcon, plusLine,  */
    --color2: #443627;
    /* black - footerText, hamburgerText, contactBar */
    --color3: #EFDCAB;
    /* peach - hamItem borderBottom, hamburger borderTop, logoContainer, 
    hamIcon, musicPlayer, plusButton */
    --color4: #D98324;
    /* CTA */
    --color5: #753c00;

    --unit: 10vh;
    --halfUnit: calc(var(--unit) / 2);
    --quarterUnit: calc(var(--unit) / 4);
    --eighthUnit: calc(var(--unit) / 8);
    --widthUnit: 10vw;
    --halfWidthUnit: calc(var(--widthUnit) / 2);
    --quarterWidthUnit: calc(var(--widthUnit) / 4);
    --navHeight: 58.5px;
    --screenHeight: 100vh;
    --screenWidth: 100vw;
    --linkMargin: var(--quarterWidthUnit);
    --contactBarHeight: 31.5px;
    --containerBg: var(--color1);
}

@supports(height: 1svh) {
    :root {
        --unit: 10svh;
        --widthUnit: 10svw;
        --screenHeight: 100svh;
        --screenWidth: 100svw;
    }
}


@font-face {
    font-family: 'marcellus';
    src: url('../fonts/Marcellus/Marcellus-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'pt_serif';
    src: url('../fonts/PT_Serif/PTSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'pt_serif';
    src: url('../fonts/PT_Serif/PTSerif-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'pt_serif';
    src: url('../fonts/PT_Serif/PTSerif-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'pt_serif';
    src: url('../fonts/PT_Serif/PTSerif-BoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

html{
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: pt_serif;
    color: var(--color2);
}

a {
    text-decoration: none;
}

body {
    background: var(--color1);
    width: var(--screenWidth);
    position: relative;
}

nav {
    position: fixed;
    top: 0;
    height: 90px;
    z-index: 9;
}

p {
    margin: 0;
}

span.bold{
    font-weight: bold;
}

.contactBar {
    width: var(--screenWidth);
    background: var(--color2);
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    font-weight: bold;
    height: var(--contactBarHeight);
}

.contactBar *{
    color: var(--color1);
}

.navigation {
    width: var(--screenWidth);
    padding: 0 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--navHeight);
    transition: background 0.5s ease;
    border-radius: 0 0 25px 25px;
}

.bg{
    background: var(--color1);
}

.logoContainer {
    background: linear-gradient(360deg, var(--color4), var(--color3));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 40px;
    border-radius: 3px 25px;
    cursor: pointer;
}

.navigation img {
    width: 100px;
}

.navContainer {
    display: flex;
    align-items: center;
}

.book {
    background: linear-gradient(360deg, var(--color4), var(--color3));
    width: fit-content;
    height: 40px;
    border-radius: 25px 3px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 0.9rem;
    font-weight: bold;
    margin-right: 20px;
    cursor: pointer;
    transition: border-radius 0.5s ease;
    color: var(--color1);
}
.book:hover{
    border-radius: 3px 25px;
}

main {
    margin-top: var(--contactBarHeight);
    width: var(--screenWidth);
    overflow-x: hidden;
}

.frontDesk {
    height: calc(var(--screenHeight) - var(--contactBarHeight));
    width: var(--screenWidth);
    display: flex;
    justify-content: center;
    position: relative;
}

.frontDesk .media {
    height: calc(var(--screenHeight) - var(--contactBarHeight));
    width: var(--screenWidth);
    min-width: 600px;
    filter: brightness(0.7);
}

.title {
    font-size: 3rem;
    margin-bottom: var(--eighthUnit);
}

.frontText *{
    color: var(--color1);
}

.textBox, .frontText, .closeText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.textBox:not(.front):not(.footer) {
    background: var(--containerBg);
    padding: 15px;
}

.closeText *{
    color: var(--color1);
}

.yoYo.two{
    width: 100%;
    background: linear-gradient(45deg, var(--color4), var(--color3)) !important;
    padding: 40px 100px 40px 40px;
}

.yoYo.two *{
    color: var(--color1);
    text-align: left;
}

.yoYo.two .title{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.textBox.three {
    border-radius: 40px 5px;
}

.text {
    font-size: 0.85rem;
    line-height: 1.4rem;
}

.textBox a {
    display: inline-block;
    margin-top: var(--quarterUnit);
    padding: 10px;
    background: rgba(255, 255, 255, 0.7);
    color: var(--color2);
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
}

.infoBox{
    position: absolute;
    width: 300px;
    background: var(--color1);
    top: 10%;
    left: 63%;
    transform: translate(-50%, 0);
    border-radius: 20px;
    z-index: 1;
    padding: 20px;
    line-height: 1.4rem;
    transition: left 0.5s ease;
    overflow: hidden;
}

.infoBox.scrolled{
    left: 50%;
}
.infoBoxTitle{
    font-size: 1.25rem;
    text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 4px;
    margin-bottom: 20px;
    font-weight: bold;
}

.serviceIconContainer{
    display: flex;
    justify-content: end;
}
.serviceIcon{
    width: 50px;
    height: 50px;
    background: linear-gradient(-45deg, var(--color4), var(--color3));
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.serviceFeatures{
    list-style: none;
    margin-bottom: 0;
}
.serviceFeatures li{
    margin-left: -5px;
}
.serviceFeatures li::before{
    content: '✓';
    position: absolute;
    left: 25px;
    color: var(--color4);
    font-weight: bold;
}
.serviceFeatures li:not(:last-child){
    margin-bottom: 10px;
}

.infoBox::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 8px;
    background: linear-gradient(45deg, var(--color4), var(--color3));
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s ease;
}
.infoBox.scrolled::before{
    transform: scaleY(1);
}



.vidContainer {
    position: relative;
    width: var(--screenWidth);
    height: calc(100vh - var(--contactBarHeight));
    overflow-y: visible;
}

.vidContainer .media, .frontDesk .media {
    width: var(--screenWidth);
    height: calc(100vh - var(--contactBarHeight));
    object-fit: cover;
    display: block;
    filter: brightness(0.7);
    z-index: 0;
}

.textBox.three .title {
    font-size: 2.5rem;
}

.textBox p {
    margin-bottom: 0.25rem;
}

.backupImg {
    position: absolute;
    width: var(--screenWidth);
    height: calc(100vh - var(--contactBarHeight));
    top: 0;
    left: 0;
    object-fit: cover;
    display: block;
    filter: brightness(0.7);
    z-index: -1;
}



.footerContent {
    width: var(--screenWidth);
    height: fit-content;
    padding: var(--halfUnit) 0 0 0;
    overflow: hidden;
    position: relative;
}

.footerInfo{
    line-height: 1.4rem;
    padding: 0 var(--halfUnit) var(--halfUnit) var(--halfUnit);
}

.footerInfo.location{
    text-align: end;
}

footer h3{
    margin: 0 0 0 0;
}

footer .textBox * {
    color: var(--color1);
}
footer .text{
    margin-top: var(--halfUnit);
    font-size: 1.3rem !important;
}




#musicPlayer{
    position: fixed;
    right: -1px;
    bottom: -1px;
    width: 40px;
    height: 40px;
    border-radius: 70% 0 0 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;
}

#musicPlayer img{
    position: fixed;
    bottom: 5.5px;
    right: 4px;
    width: 25px;
    height: 25px;
    z-index: 2;
}

.musicLine{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: -20px;
    right: 40px;
    width: 140px;
    height: 20px;
    background: rgba(0,0,0,0.5);
    color: var(--color1);
    font-size: 0.7rem;
    border-radius: 10px 10px 0 0;
    transition: bottom 2s ease;
    padding-top: 1px;
    cursor: default;
    z-index: 1;
}

.musicLine.show{
    bottom: 0px;
}