:root {
    --color1: #FFFFF0;
    /* Ivory - mainText, hamBg, footerBg, hamIcon, plusLine,  */
    --color2: black;
    /* black - footerText, hamburgerText */
    --color3: #F2DDBD;
    /* peach - hamItem borderBottom, hamburger borderTop */
    --color4: #006400;
    /* logoContainer, hamIcon */
    --color5: #8B4513;
    /* contactBar, musicPlayer */
    --color6: #FF4500;
    /* CTA */
    --color7: #228B22;
    /* plusButton */

    --unit: 10vh;
    --halfUnit: calc(var(--unit) / 2);
    --quarterUnit: calc(var(--unit) / 4);
    --eighthUnit: calc(var(--unit) / 8);
    --widthUnit: 10vw;
    --halfWidthUnit: calc(var(--widthUnit) / 2);
    --quarterWidthUnit: calc(var(--widthUnit) / 4);
    --navHeight: 58.5px;
    --screenHeight: 100vh;
    --screenWidth: 100vw;
    --linkMargin: var(--quarterWidthUnit);
    --contactBarHeight: 31.5px;
    --containerBg: rgba(0, 0, 0, 0.7);
}

@supports(height: 1svh) {
    :root {
        --unit: 10svh;
        --widthUnit: 10svw;
        --screenHeight: 100svh;
        --screenWidth: 100svw;
    }
}


@font-face {
    font-family: 'marcellus';
    src: url('../fonts/Marcellus/Marcellus-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'pt_serif';
    src: url('../fonts/PT_Serif/PTSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'pt_serif';
    src: url('../fonts/PT_Serif/PTSerif-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'pt_serif';
    src: url('../fonts/PT_Serif/PTSerif-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'pt_serif';
    src: url('../fonts/PT_Serif/PTSerif-BoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

html{
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: pt_serif;
    color: var(--color1);
}

a {
    text-decoration: none;
}

body {
    background: var(--color1);
    width: var(--screenWidth);
    position: relative;
}

nav {
    position: fixed;
    top: 0;
    height: 90px;
    z-index: 5;
}

p {
    margin: 0;
}

span.bold{
    font-weight: bold;
}

.contactBar {
    width: var(--screenWidth);
    background: var(--color5);
    color: var(--color1);
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    font-weight: bold;
    height: var(--contactBarHeight);
}

.navigation {
    width: var(--screenWidth);
    padding: 0 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--navHeight);
    transition: background 0.5s ease;
    border-radius: 0 0 25px 25px;
}

.bg{
    background: var(--color1);
}

.logoContainer {
    background: var(--color4);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 40px;
    border-radius: 3px 25px;
    cursor: pointer;
}

.navigation img {
    width: 100px;
}

.navContainer {
    display: flex;
    align-items: center;
}

.book {
    background: var(--color6);
    width: fit-content;
    height: 40px;
    border-radius: 25px 3px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 0.9rem;
    font-weight: bold;
    margin-right: 20px;
    cursor: pointer;
    transition: border-radius 0.5s ease;
}
.book:hover{
    border-radius: 3px 25px;
}

main {
    margin-top: var(--contactBarHeight);
    width: var(--screenWidth);
    overflow-x: hidden;
}

.frontDesk {
    height: calc(var(--screenHeight) - var(--contactBarHeight));
    width: var(--screenWidth);
    display: flex;
    justify-content: center;
    position: relative;
}

.frontDesk .media {
    height: calc(var(--screenHeight) - var(--contactBarHeight));
    width: var(--screenWidth);
    min-width: 600px;
    filter: brightness(0.7);
}

.textBox, .frontText, .closeText {
    color: var(--color1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.textBox:not(.front):not(.footer) {
    background: var(--containerBg);
    padding: 15px;
}

.textBox.two,
.textBox.three {
    border-radius: 5px 60px;
}

.textBox.three {
    border-radius: 60px 5px;
}

.title {
    font-size: 3rem;
    margin-bottom: var(--eighthUnit);
}

.text {
    font-size: 0.85rem;
    line-height: 1.2rem;
}

.textBox a {
    display: inline-block;
    margin-top: var(--quarterUnit);
    padding: 10px;
    background: rgba(255, 255, 255, 0.7);
    color: var(--color2);
    border-radius: 7px;
    font-weight: bold;
}

.vidContainer {
    position: relative;
    width: var(--screenWidth);
    height: calc(100vh - var(--contactBarHeight));
    overflow-y: hidden;
}

.vidContainer .media {
    width: var(--screenWidth);
    height: calc(100vh - var(--contactBarHeight));
    object-fit: cover;
    display: block;
    filter: brightness(0.7);
}

.textBox.three .title {
    font-size: 2.5rem;
}

.textBox p {
    margin-bottom: 0.25rem;
}

.backupImg {
    position: absolute;
    width: var(--screenWidth);
    height: calc(100vh - var(--contactBarHeight));
    top: 0;
    left: 0;
    object-fit: cover;
    display: block;
    filter: brightness(0.7);
    z-index: -1;
}



.footerContent {
    width: var(--screenWidth);
    height: fit-content;
    padding: var(--halfUnit) 0 0 0;
    overflow: hidden;
    position: relative;
}

.footerContent * {
    color: var(--color2);
}

.footerInfo{
    line-height: 1.4rem;
    padding: 0 var(--halfUnit) var(--halfUnit) var(--halfUnit);
}

.footerInfo.location{
    text-align: end;
}

footer h3{
    margin: 0 0 0 0;
}

footer .textBox * {
    color: var(--color1);
}
footer .text{
    margin-top: var(--halfUnit);
    font-size: 1.3rem !important;
}




#musicPlayer{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    border-radius: 70% 0 0 0;
    background: var(--color5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;
}

#musicPlayer img{
    position: fixed;
    bottom: 5.5px;
    right: 4px;
    width: 25px;
    height: 25px;
    z-index: 2;
}

.musicLine{
    display: flex;
    align-items: center;
    justify-content: start;
    position: fixed;
    bottom: 0px;
    right: -144px;
    width: 174px;
    height: 20px;
    background-color: var(--color5);
    color: var(--color1);
    font-size: 0.7rem;
    padding-left: 6px;
    border-radius: 10px 0 0 0;
    transition: right 2s ease;
    padding-top: 1px;
    cursor:default
}

.musicLine.show{
    right: 0px;
}