:root {
    --color1: #FFFFF0;
    /* Ivory - mainText, hamBg, footerBg, hamIcon, plusLine,  */
    --color2: #290c0b;
    /* black - footerText, hamburgerText, contactBar */
    --color3: #EFDCAB;
    /* peach - hamItem borderBottom, hamburger borderTop, logoContainer, 
    hamIcon, musicPlayer, plusButton */
    --color4: #D98324;
    /* CTA */
    --color5: #6e120e;

    --unit: 10vh;
    --halfUnit: calc(var(--unit) / 2);
    --quarterUnit: calc(var(--unit) / 4);
    --eighthUnit: calc(var(--unit) / 8);
    --widthUnit: 10vw;
    --halfWidthUnit: calc(var(--widthUnit) / 2);
    --quarterWidthUnit: calc(var(--widthUnit) / 4);
    --navHeight: 58.5px;
    --screenHeight: 100vh;
    --screenWidth: 100vw;
    --linkMargin: var(--quarterWidthUnit);
    --contactBarHeight: 31.5px;
    --containerBg: rgba(0,0,0,0.5);
}

@supports(height: 1svh) {
    :root {
        --unit: 10svh;
        --widthUnit: 10svw;
        --screenHeight: 100svh;
        --screenWidth: 100svw;
    }
}



/* -------------------- FONTS -------------------- */



@font-face {
    font-family: 'marcellus';
    src: url('../fonts/Marcellus/Marcellus-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'pt_serif';
    src: url('../fonts/PT_Serif/PTSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'pt_serif';
    src: url('../fonts/PT_Serif/PTSerif-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'pt_serif';
    src: url('../fonts/PT_Serif/PTSerif-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'pt_serif';
    src: url('../fonts/PT_Serif/PTSerif-BoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}



/* -------------------- FORMATTING -------------------- */



html{
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: pt_serif;
    color: var(--color2);
}

a {
    text-decoration: none;
}

body {
    background: var(--color1);
    width: var(--screenWidth);
    position: relative;
    height: fit-content;
    margin: 0;
}

p {
    margin: 0;
}

span.bold{
    font-weight: bold;
}

main {
    margin-top: var(--contactBarHeight);
    width: var(--screenWidth);
    overflow-x: hidden;
    position: relative;
}



/* -------------------- MUSIC PLAYER -------------------- */



#musicButton{
    position: fixed;
    right: -4px;
    bottom: 9px;
    width: 40px;
    height: 40px;
    z-index: 1;
    cursor: pointer;
    color: var(--color2);
    font-size: 2.5rem;
    transition: color 2s ease;
}
#musicButton.show{
    color: var(--color1);
}

iframe{
    position: absolute;
}